build/
bin/
docs/gen/
site/
examples/outputs/
data/animations/
data/exports/

*.o
*.a
*.so
*.dll
*.dylib
*.abc
*.usd
*.diff

__pycache__/
*.py[cod]
*$py.class
.cache/

venv/
.env/
.venv/

*.ini 

data/cache/*
!data/cache/.gitkeep

.vscode/
.idea/
*.log
*.ninja

main.cpp
pyrightconfig.json

.pytest_cache/
*.egg-info/
data/states/*.tissu
dist/
docs/notes/
